# Clave secreta para la sesión de Flask
SECRET_KEY=change-me

# Configuración de ejecución en desarrollo o producción
FLASK_DEBUG=False
PORT=5000

# Entorno de la aplicación
APP_ENV=production
DATA_DIR=demo_data
