{% extends "base.html" %}

{% block content %}
<div class="hero-section">
    <h2>Descubre tu Vino Ideal</h2>
    <p>No necesitas ser un experto ni entender términos técnicos. Descorcha.IA analiza las preferencias de paladar cotidianas de tu gusto y las mapea con los perfiles sensoriales y la opinión del mercado para recomendarte la botella perfecta.</p>
    <div class="btn-container">
        <a href="{{ url_for('quiz') }}" class="btn">Comenzar Quiz de Paladar</a>
    </div>
</div>
{% endblock %}
